# yaml-language-server: $schema=https://aka.ms/winget-manifest.installer.1.10.0.schema.json
PackageIdentifier: jacobcxdev.cq
PackageVersion: {{.Version}}
InstallerLocale: en-US
InstallerType: wix
Scope: user
InstallModes:
  - interactive
  - silent
  - silentWithProgress
UpgradeBehavior: install
Commands:
  - cq
Installers:
  - Architecture: x64
    InstallerUrl: {{.X64URL}}
    InstallerSha256: {{.X64SHA256}}
    AppsAndFeaturesEntries:
      - DisplayName: CQ
        Publisher: jacobcxdev
        DisplayVersion: {{.Version}}
        UpgradeCode: '{7B64C2EF-DF57-4C43-8C35-7D1949B09469}'
  - Architecture: arm64
    InstallerUrl: {{.ARM64URL}}
    InstallerSha256: {{.ARM64SHA256}}
    AppsAndFeaturesEntries:
      - DisplayName: CQ
        Publisher: jacobcxdev
        DisplayVersion: {{.Version}}
        UpgradeCode: '{7B64C2EF-DF57-4C43-8C35-7D1949B09469}'
ManifestType: installer
ManifestVersion: 1.10.0
